{% extends 'base.html' %}
{% block title %}{{ teacher.name }} | TINYSTEPS{% endblock %}
{% block content %}
  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <article class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt=""></div>
          <div class="col-7">
            <section class="teacher=info">
              <h1 class="h2">{{ teacher.name }}</h1>
              <a>{% for goal in goals %}<span class="badge badge-secondary mr-2 mb-4">{{ goal.desc }}</span>{% endfor %}</a>
              <p>Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
              <p>{{ teacher.about }}</p>
            </section>
          </div>
            <section class="available col-12">
              <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
              <h6 class="mt-4">Понедельник</h6>
              {% if free_days.mon %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.mon.items() %}
                    {% with lesson_time=time.0.split(':').0 %}
                      {% if time.1 %}
                        <a href="/booking/{{ teacher.id }}/mon/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                      {% endif %}
                    {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Вторник</h6>
              {% if free_days.tue %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.tue.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/tue/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Среда</h6>
              {% if free_days.wed %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.wed.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/wed/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Четверг</h6>
              {% if free_days.thu %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.thu.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/thu/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Пятница</h6>
              {% if free_days.fri %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.fri.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/fri/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Суббота</h6>
              {% if free_days.sat %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.sat.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/sat/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}

              <h6 class="mt-4">Воскресенье</h6>
              {% if free_days.sun %}
                <p>Нет свободных уроков</p>
              {% else %}
                {% for time in days.sun.items() %}
                  {% with lesson_time=time.0.split(':').0 %}
                    {% if time.1 %}
                      <a href="/booking/{{ teacher.id }}/sun/{{ lesson_time }}/" class="btn btn-outline-success mr-2 mb-3">{{ time.0 }} свободно</a>
                    {% endif %}
                  {% endwith %}
                {% endfor %}
              {% endif %}
            </section>
          </div>
        </article>
      </div>
    </div>
  </main>
{% endblock %}